<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <style>
        nav {
            top: 0%;
            height: 10%;
            background-color: white;
        }


        main {
            top: 10%;
            height: 80%;
            background-color: white;
        }

        footer {
            top: 90%;
            height: 10%;
            background-color: white;
        }

        div.row {
            width: 100%;
            height: 100%;
        }

        img {
            height: 80%;
        }

        .row {
            margin: 0%;
        }

        .form-rounded {
            border-radius: 1rem;
        }
    </style>
    <title>House$ 房價預測</title>
</head>

<body>
    <nav>
        <div class="row justify-content-around align-items-center">
            <form action="#" class="col-12" style="margin: auto;" onsubmit="find(this);">
                <div class="input-group">
                    <input type="text" class="form-control form-rounded" id="text">
                    <div class="input-group-prepend">
                        <div class="input-group-text form-rounded">
                            <i class="fas fa-search"><button type="submit" style="opacity: 0;"></button></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <main>
        <div class="row justify-content-around align-items-center" id="map"></div>
    </main>
    <footer>
        <div class="row justify-content-around align-items-center">
            <a href="/map"><img src="static/map icon.png" alt="" srcset=""></a>
            <a href="/chart"><img src="static/chart icon2.png" alt="" srcset=""></a>
            <a href="/data"><img src="static/data icon2.png" alt="" srcset=""></a>
        </div>
    </footer>
    <script>
        let map, LONGITUDE, LATITUDE;

        function find(form) {
            console.log(form.text.value)
            let settings = {
                "url": "/ll",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                "data": {
                    "search": form.text.value
                }
            };
            $.ajax(settings).done(function (response) {
                console.log(response);
                LONGITUDE = parseFloat(response.split(" ")[0]);
                LATITUDE = parseFloat(response.split(" ")[1]);

                localStorage.LONGITUDE = LONGITUDE;
                localStorage.LATITUDE = LATITUDE;

                map.setCenter(new google.maps.LatLng(LATITUDE, LONGITUDE));
            });
        }

        function init() {
            navigator.geolocation.getCurrentPosition((position) => {
                console.log(position.coords);
                LATITUDE = position.coords.latitude;
                LONGITUDE = position.coords.longitude;

                localStorage.LONGITUDE = LONGITUDE;
                localStorage.LATITUDE = LATITUDE;
                // 初始化地圖
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 16,
                    center: new google.maps.LatLng(LATITUDE, LONGITUDE)
                });
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt-sx6wRtK-v7YYYmVe0WkWLeZOrDJ-Go&callback=init"></script>
</body>

</html>